grant codeBase "file:bin/*" {
	permission java.net.SocketPermission "*:23232", "listen,accept,resolve,connect";
	permission java.net.SocketPermission "*:1024-", "accept,resolve";
	permission java.io.FilePermission "temp", "read,write";
	permission java.io.FilePermission "temp/-", "read,write,delete";
	permission java.io.FilePermission "database", "read,write";
	permission java.io.FilePermission "database/-", "read,write,delete";
	permission java.io.FilePermission "secret_key", "read,write,delete";
	permission java.io.FilePermission "secret_key/-", "read,write,delete";
	permission java.io.FilePermission "myKeys.keystore", "read,write,delete";
	permission java.io.FilePermission "myKeys", "read,write,delete";
	permission java.util.PropertyPermission "user.dir", "read";
	permission java.util.PropertyPermission "file.separator", "read";
	permission java.util.PropertyPermission "javax.net.ssl.keyStore", "write";
	permission java.util.PropertyPermission "javax.net.ssl.keyStorePassword", "write";
};